.lastNav {
    position: relative;
    z-index: 1000;
    top: -504px;
    left: 74px;
    width: 1200px;
    height: 88px;
}

.lastNav ul {
    list-style-type: none;
    background: #FFF;
    text-align: center;
    border-top: 0 none;
    width: 1200px;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.navWord {
    float: left;
}

.navWord {
    display: flex;
    justify-content: flex-start;
}

/* .imgWord{
    display: flex;
    justify-content: flex-start;
} */

.imgWord {
    display: flex;
    position: relative;
    left: -122px;
    top: 47px;
}

.navWord {
    position: relative;
    top: 18px;
    left: 13px;
}

.navWord span {
    margin-top: 1px;
    font-size: 14px;
    color: #999;
}

.lastNav a {
    text-decoration: none;
}

.navWord p {
    margin-top: 1px;
    font-size: 14px;
    color: #3a3a3a;
    display: block;
    padding-left: 8px;
}

.imgWord span {
    border-radius: 5px;
    font-size: 13px;
    display: block;
    width: 66px;
    height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
}

.imgWord span:hover {
    background-color: #de5b60;
    color: #FFF;
    cursor: pointer;
}

.imgWord p {
    display: block;
    width: 68px;
    height: 22px;
    text-align: center;
    background: #595454;
    color: #fde4b3;
    border-radius: 5px;
    font-size: 13px;
}

.imgWord p:hover {
    background: #000000;
    cursor: pointer;
}

.lastNav img {
    width: 52px;
    height: 52px;
    display: block;
    margin-top: 19px;
    margin-left: -15px;
    float: left;
}

/* second */

.second ul {
    width: 590px;
}

.background1 {
    width: 35px;
    height: 35px;
    background-color: #94cefe;
    border-radius: 100%;
}

.background2 {
    width: 35px;
    height: 35px;
    background-color: #68d2cb;
    border-radius: 100%;
}

.background3 {
    width: 35px;
    height: 35px;
    background-color: #eb7971;
    border-radius: 100%;
}

.background4 {
    width: 35px;
    height: 35px;
    background-color: #f2bc33;
    border-radius: 100%;
}

.background5 {
    width: 35px;
    height: 35px;
    background-color: #93cffe;
    border-radius: 100%;
}

.background6 {
    width: 35px;
    height: 35px;
    background-color: #8249b6;
    border-radius: 100%;
}

.icon i {
    font-size: 25px;
    text-align: center;
}

.second a {
    display: inline-block;
    position: relative;
    left: -83px;
    top: 18px;
    margin-left: 41px;
}

.second a:first-child {
    margin: 0;
}

.lWords span:hover {
    color: red;
}

.lWords {
    position: relative;
    left: -18px;
    ;
}

.lWords span {
    font-size: 14px;
    color: #848484;
}

/* third */

.third {
    width: 310px;
    height: 88px;
}

.thirdContainer {
    position: relative;
    right: -547px;
    top: 0px;
}

.notice {
    margin-top: 18px;
}

.notice span {
    font-size: 12px;
    display: inline-block;
    padding-left: 35px;
}

.notice span:hover {
    color: red;
    cursor: pointer;
}

.notice i {
    font-size: 13px;
    position: relative;
    right: -33px;
}

.rotationTip {
    margin-top: 10px;
}

.rotationTip span {
    color: #777;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: -93px;
}

/* 轮播公告 */

.announcement {
    height: 40px;
    width: 190px;
    overflow: hidden;
    list-style: none;
    /* display: block; */
    position: absolute;
    bottom: 36px;
    left: 1041px;
    z-index: 10000;
    margin-top: 0px;
}

.announce {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    position: relative;
    color: #6f6f6f;
    font-size: 12px;
    padding: 12px 0;
}

h1{
    text-align: center;
}
/* footer */
.footer{
    width: 1200px;
}
.slogan{
    overflow: hidden;
    width: 100%;
    padding: 22px 0;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.slogan li{
    float: left;
    margin-left:82px;
    padding-left: 54px;  
}
.slogan li:first-child{
    padding: 0;
}
.slogan span{
    position: relative;
    bottom: 15px;
    left: 18px;
}
.service{
    padding: 35px 0 24px 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e5e5e5;
}
.leftserv{
    width: 1000px;
    height: 155px;
    padding-top: 5px;
    border-right: 1px solid #e5e5e5;
}
.ul{
   list-style: none;
   float: left; 
   margin-left: 46px;
}
.ul span{
    font-size: 14px;
    color: #333;
    display: block;
    padding-bottom:7px; 
}
.ul p{
    font-size: 12px;
    color: #777;
    display: block;
    padding-top: 6px;
}
.rightserv{
    width: 279px;
    min-height: 160px;
    margin-top: 2px;
    text-align: center;
}
dd{
    margin-top: 3px;
}
.dd{
    display: block;
    width: 170px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    background: #333;
    cursor: pointer;
    border-radius: 17px;
}
.dd i{
    font-size: 14px;
    color: #fff;
    
}
.dl p{
    font-size: 14px;
}
.dlicon{
    margin-top: 29px;
}

.dlicon span{
    font-size: 14px;
    display: inline-block;
    margin-left: -30px;
}
.dlicon i{
    display: inline-block;
    font-size: 24px;
    padding-left:9px;
}