*{
    margin: 0;
    color: #3a3a3a;
    /* overflow: hidden; */
}
/* body{
    width: 1366px;
} */
#container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1200px;
}
.navTop{
    display: flex;
    margin: 0;
    padding: 7px 96px 7px 75px;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    background-color: #faf9f9;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 66;
}
.navTop span{
    display: inline-block;
    padding: 0;
}
.navTop a{
    display: inline-block;
    padding: 0 4px;
    color:#a4a4a4;
    text-decoration: none;
    font-size: 10px;
}
.navTop a:hover{
    color:red;
}
.navTop a:after{
    padding-left: 6px;
    position: absolute;
    content: "";
    border:1px solid transparent;
    border-right:1px solid  #d3d3d3;
    top: 14px;
    height: 10px;
}
.navTop i:after{
    padding-left: 6px;
    position: absolute;
    content: "";
    border:1px solid transparent;
    border-right:1px solid  #d3d3d3;
    top: 8px;
    height: 10px;
}

.navTop span a:last-child:after{
    content:" ";
    border: none;
}
.navTop .choose a:first-child:after{
    content: "";
    border: none;
}   
.navTop .choose a:first-child{
    padding-right: 2px;
}
.dropBtn .myicon{
    font-size: 10px;
}
.dropBtnWeb .myicon{
    font-size: 10px;
}
.dropBtnphone .myicon{
    font-size: 10px;
}
.dropContentWeb .webnav .home{
    width: 60px;
    height: 60px;
    float: left;
    color: #777;
    border-radius: 25px;
    background: #f7f7f7;
    display: block;
    margin: 37px 46px 0 49px;
    text-align: center;
}
.dropContentWeb .webnav .myicon{
    font-size: 25px;
}
.dropContent a:after{
    content: "";
    border: none;
}
.dropContentWeb a:after{
    content: "";
    border: none;
}